body {
    background: #DEE3E6;
}

.main {
    margin: 0 auto;
    width: 900px;
    background: #FFFFFF;
}

.entries {
    width: 400px;
    float: left;
}

.keywords {
    width: 400px;
    float: right;
}

.entry-type {
    background-color: #D2D2D2;
    padding: 0px 10px;
}
