body {
    background: #DEE3E6;
}

.main {
    margin: 0 auto;
    width: 900px;
    background: #FFFFFF;
    padding: 2px 20px 15px 20px;
i}

.entries {
    width: 400px;
    float: left;
}

.section {
    padding: 0px 13px 8px 13px;
}

.keywords {
    width: 400px;
    float: right;
}

.entry-type {
    background: #89BC5C;
    padding: 10px 10px;
    color: #FEFEFE;
    border: 4px solid #000000;
}

.code {
    background: #DEE3E6;
    padding: 10px;
    border: 1px dotted #000000;
    font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
}

blockquote {
    padding: 0px 10px;
    border: 1px solid #000000;
}